<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
    <% items = LineItem.where(order_id: @order.id) %>
    

    <% products_ids = items.map { |item| item.product_id } %>
    
    <% products = Product.find(products_ids) %>

    <div class="products">
      <%= render products %>
    </div>

    <% products.map do |product| %>
      <%= product.name %>
    <% end %>

    
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
