<% reviews = Review.where(product_id: @product.id) %>
<% reviews.each do |review| %>
<%# <% byebug %> 
  <tr>
    <td>
      <%= review.description %>
    </td>
    <td>
      <%= review.rating %>
    </td>
    <td>
      <%= review.updated_at %>
    </td>
    <td>
      <%= review.user_id %>
    </td>        
  </tr>
<% end %>