<% reviews = Review.where(product_id: @product.id) %>
<% reviews.each do |review| %>
  <tr>
    <td>
      <%= review.description %>
    </td>
    <td>
      <%= review.rating %>
    </td>
    <td>
      <%= review.updated_at.to_formatted_s(:long) %>
    </td>
    <td>
      <% user_temp = User.where(id: review.user_id) %>
      <%= "#{user_temp.first.first_name} #{user_temp.first.last_name}" %>
    </td>        
  </tr>
<% end %>